/* Your Website Styles */

body {
	background: url("../img/mocha.png");
	font-family: 'Alice', serif;
}

.title {
	background: url("../img/white.png");
	border: 10px solid #2E1F47;
	border-radius: 5px;
	margin: 40px 0;
	font-size: 2.5em;
	font-family: 'Merienda', cursive;
	color: #1E1C45;
	text-align: left;

}

h1, h2 {
		font-weight: normal;
		color: #2e1f47;
		font-family: 'Paprika', cursive;
		text-align: center;
	}

h6, p {
	text-align: center;
	margin: 40px 0;

	color: #1e1c45;
}

figure {
	margin: 0;
	}

ul {
	list-style: none;
		padding: 0;
		font-family: 'Alice', serif;
    
	}

a img {
	border: none;
	}


.logo {
	float: left;

	margin: 0 3%;
	height: 200px;
	width: 200px;

	background: url("../img/white.png");
	border: 10px solid #2E1F47;
	border-radius: 5px;
}

	/*Navigation*/
   
#navbar ul {
	width: 60%;
	margin: 1% 0 3% 5%;
	list-style: none;

	list-style: none;
	padding: 0;
  	display: inline-block;
		}

	#navbar ul li {
	color: #1e1c45;
	background: #6B90CA;
  	float: left;
 	display: list-item;
 	margin: 2% 5%;
 	font-family: 'Merienda', cursive;

 	height: 25px;
	width: 95px;
	text-align: center;
	border-radius: 20px 5px;
	box-shadow: -3px 3px 3px #1E1C45, 
	inset 1px 1px 1px #7FABF0;
	border-bottom-color: #334561;
	}

#navbar ul li a {
	color: #1e1c45;
	display: inline-block;
	text-decoration: none;
	}

	#navbar ul li.home {
		width: 15%;
	}
	#navbar ul li.bio {
		width: 15%;
	}
	#navbar ul li.portfolio {
		width: 15%;
	}
	#navbar ul li.contact {
		width: 15%;
	} 

	/* Pseudo-classes*/

	#navbar ul li a:hover,
	 #navbar ul li a:active {
		color: #334561;
		font-size: 1.25em;

	}

	

/*Gallery Styling*/


	.gallery {
		max-width: 60%;
    	max-height: 60%;
		padding: 10px;
		background: #1E1C45;
		border-radius: 10px;
		margin:  auto;
		margin-bottom: 3%;
		box-shadow: 1px 1px 20px 10px rgba(30, 28, 69, .8);

	}

	.gallery:after {
		content: "";
		display: block;
		clear: both;
	} 

		.gallery li {
			float: left;
     	 	width: 31%;
     	 	height: 31%;
			margin: 1%;
		}

		.gallery li > a {
			float: left;
			max-width: 100%;
    		max-height: 150px; 
    		overflow: hidden;
			-webkit-filter: grayscale(.5) sepia(.8);
			-webkit-transition: .5s;
			position: relative;
		}


/* pictures small thumbnails */
				.gallery li > a img {
		       max-width: 100%;
           
          
          background:#ccc;
					box-shadow: 0 0 5px rgba(0, 0, 0, .3);
					-webkit-transition: .5s;
				}

				.gallery li > a:hover {
					-webkit-filter: grayscale(0) sepia(0);
					z-index: 1;
				}

				.gallery li > a:hover img {
					-webkit-transform: scale(1.4);
					box-shadow: 0 0 15px rgba(0, 0, 0, .8);
				}

				.gallery article {
					width: 0;
					height: 0;
					overflow: hidden;
					position: absolute;
					top: 0;
					left: 0;
				}

				.gallery article:target {
					width: 100%;
					height: 100%;
					padding: 100px 0;
					box-sizing: border-box;
					margin: 0;
					text-align: center;
					background: rgba(0, 0, 0, .8);
					z-index: 1;
				}

/* Pictures in lightbox */
					.gallery article img {
						opacity: 0;
						-webkit-transition: .7s;
						border: 10px solid #fff;
            			width: auto;
           			 	height: auto;
						max-height: 80%;
						max-width: 80%;
						box-sizing: border-box;
						box-shadow: 0 0 20px rgba(0, 0, 0, .5);
					}

					.gallery article:target img {
						opacity: 1;
            			background: bl;
					} 

					.gallery figcaption {
						background: rgba(250, 250, 250, .1);
						padding: 5px 10px;
						font-size: 1.3em;
						font-style: italic;
						color: white;
						margin-top: 20px;
					}
/* navigation in light box*/
				article .close {
					position: absolute;
					left: 50%;
					top: 40px;
					margin-left: -50px;
					width: 100px;
					background: rgba(250, 250, 250, .9);
					color: black;
					border-radius: 15px;
					text-decoration: none;
					padding: 6px 6px 6px 25px;
					box-sizing: border-box;
					text-transform: uppercase;
					-webkit-transition: .5s;
				}

				article .close:before {
					content: "X";
					color: #fff;
					font-family: Arial;
					font-weight: bold;
					position: absolute;
					padding-top: 3px;
					top: 3px;
					left: 5px;
					width: 24px;
					height: 21px;
					background: #666;
					border-radius: 50%;
				}

				article .close:hover {
					background: #fff;
				}

				article .arrow {
					position: absolute;
					top: 250px;
					width: 0;
					height: 0;
					border-top: 40px solid transparent;
					border-bottom: 40px solid transparent;
					text-indent: -9999px;
					-webkit-transition: .4s;
				}

				article .prev {
					left: 50%;
					margin-left: -40%;
					border-right: 60px solid rgba(250, 250, 250, .1);
				}

					article .prev:hover {
						border-right: 60px solid rgba(250, 250, 250, .2);
					}

				article .next {
					right: 50%;
					margin-right: -40%;
					border-left: 60px solid rgba(250, 250, 250, .1);
				}

				article .next:hover,
				article > a:hover ~ nav .next {
					border-left: 60px solid rgba(250, 250, 250, .2);
				}